.footer {
    background: #181b24;
    height: 85px;
    .container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    ul {
        display: flex;
        li {
            text-align: center;
            &:first-child a {
                padding-left: 0
            }
            a {
                color: #fff;
                padding: 10px;
                font-size: 12px;
            }
        }
    }
    .go-top-btn {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 16px;
    }
    .copyright {
        margin-top: 10px;
        font-size: 11px;
        color: #666;
        line-height: 15px;
    }
}