.form {

    background: #e8e8e8;
    padding: 20px 20% 20px 20px;
    border-radius: 0px 0px 5px 5px;
    & + .form__submit-btn {
        .btn__big {
            margin: 20px;
            font-size: 26px;
            padding: 18px 52px;
            letter-spacing: -.3px;
        }
    }
    label.col-item {
        margin-top: 10px;
    }
    &__link {
        color: #142faf;
        font-weight: 300;
        // font-size: 18px;
    }
    &__title {
    	color: #8e8e8e;
    	font-size: 20px;
        margin-bottom: 20px;
    }
    &__inner {
        margin-top: 10px;
        padding: 7px 50px 20px 15px;
        background: #d1d1d1;
        position: relative;
        border: 1px solid #8e8e8e;
        border-radius: 5px;
        &__close-btn {
            width: 55px;
            height: 52px;
			background: red;
			position: absolute;
			right: -1px;
			top: -1px;
            background: url(../img/close.png);
            background-size: contain;
            cursor: pointer;
        }
        .form-section {
        	margin-bottom: 0;
            font-size: 18px;
        }
        .input {
        	margin-bottom: 0;
            // &__small {
            //     margin-bottom: 10px;
            // }
            &__label {
                margin-bottom: 13px;
                font-size: 18px;
                &__small {
                    font-size: 14px;
                    margin: 5px 0 2px 0;
                }
            }
            input {
                border: 1px solid #8e8e8e;
                padding: 6px 10px;
            }
        }
        .textarea {
        	textarea {
        		border: 1px solid #8e8e8e;
        		padding: 9px 10px;
        		min-height: 80px;
        	}
        }
    }
    &__buttons {
        .btn__small__blue {
            font-size: 16px;
            padding: 15px 22px;
        }
        a {
            font-size: 20px;
        }
    }
    &__upload-img {
        height: 228px;
        margin-top: 10px;
        background: no-repeat #d1d1d1;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:after {
            content: '';
            height: 80%;
            position: absolute;
            @include absolute-center;
            width: 160px;
            background: url(../img/camera.png) center no-repeat;
            background-size: contain;
        }
    }

    .new-table__body, .new-table__head{
        min-width: auto;
    }

    .new-table.order-details {
        .new-table__body__col {

            &:nth-child(1) {
                font-size: 20px;
                &.regular {
                    color: #000;  
                }
            }
            &:nth-child(2) {
                font-size: 18px;
                &.regular {
                    color: #000;  
                    font-weight: normal; 
                }
            }

        }
    }
}