.desktop {
    display: flex;
}

.mobile {
    display: none;
}


@media screen and (max-width: 1280px) {
    .header {
        nav {

            ul {
                align-items: center;
                text-align: center;
                li a {
                    font-size: 12px;
                    padding: 25px 8px 30px 8px;
                }
            }
        }
    }
    .how-it-works {
        &__left {
            font-size: 12px;
            h3 {
                font-size: 20px;
            }
            &__bg {
                right: 0;
                left: 0;
                margin: auto;
            }
            &__text {
                &__1 {
                    right: 120px;
                    width: 165px;
                }
                &__2 {
                    right: -165px;
                    width: 175px;
                    top: 190px;
                }
                &__3 {
                    top: 375px;
                    width: 165px;
                    right: 120px;
                }
            }
        }
        &__right {
            font-size: 12px;
            h3 {
                font-size: 20px;
            }
            &__bg {
                right: 0;
                left: 0;
                margin: auto;
            }
            &__text {
                &__1 {
                    width: 165px;
                    left: -155px;
                    top: 40px;
                }
                &__2 {
                    left: 120px;
                    width: 175px;
                    top: 190px;
                }
                &__3 {
                    top: 375px;
                    width: 165px;
                    left: -155px;
                }
            }
        }
    }

    .new-table__head__col,
    .new-table__body__col {
        font-size: 12px;
    }
    .new-table.order-details .new-table__body__col:nth-child(1) {
        font-size: 18px;
    }
    .new-table.order-details .new-table__body__col:nth-child(2) {
        font-size: 14px;
    }

    .preview__header__info__address {
        font-size: 20px;
    }
    .preview__header__info__date {
        font-size: 16px;
    }

    .preview__content__right .btn {
        font-size: 18px;
    }
    .preview__content__right.resume {
        width: 38%;
    }

    .preview__header {
        &__info {
            width: 85%;
        }
        &__girls {
            width: 220px;
            top: 20px;
            &__item {
                width: 97px;
                height: 97px;
                margin-bottom: 8px;
                background-size: cover!important;
                &:nth-child(1) {
                    margin-right: 8px;
                }
                &:nth-child(2) {
                    margin-right: 0;
                }
                &:nth-child(3) {
                    margin-right: 8px;
                }
                &:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .header {
        &__buttons {
            white-space: normal;
            text-align: right;
            justify-content: space-between;
            display: block;
            .btn__small {
                // display: block;
                padding: 5px 5px;
                margin: 5px 0px 5px 0px;
            }
        }
    }

    .main-search-block__buttons .btn {
        padding: 15px 20px;
    }

    .how-it-works {
        &__left,
        &__right {
            &__text {
                &__1,
                &__2,
                &__3 {
                    font-size: 10px;
                    width: 130px;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
        &__left {
            height: 472px;
            h3 {
                font-size: 18px;
            }
            &__bg {
                width: 86px;
                height: 290px;
                right: 0;
                background-size: cover;
                left: 0;
                margin: auto;
                top: 110px;
            }
            &__text {
                &__1 {
                    right: 85px;
                    width: 150px;
                    top: 20px;
                }
                &__2 {
                    right: -170px;
                    width: 175px;
                    top: 125px;
                }
                &__3 {
                    top: 245px;
                    width: 155px;
                    right: 85px;
                }
            }
        }
        &__right {
            height: 472px;
            h3 {
                font-size: 18px;
            }
            &__bg {
                width: 86px;
                height: 290px;
                right: 0;
                background-size: cover;
                left: 0;
                margin: auto;
                top: 110px;
            }
            &__text {
                &__1 {
                    width: 150px;
                    left: -150px;
                    top: 20px;
                }
                &__2 {
                    left: 80px;
                    width: 155px;
                    top: 130px;
                }
                &__3 {
                    top: 245px;
                    width: 150px;
                    left: -150px;
                }
            }
        }
    }

    .footer ul li a {
        font-size: 12px;
    }

    .orders-tab__empty {
        text-align: center;
        display: block;
        .btn__small__blue {
            display: none;
        }
        .btn__big {
            display: block;
        }
        &__text {
            width: 100%;
            font-size: 28px;
        }
    }

    .imgs-upload {
        display: block;
        &__small {
            margin-top: 20px;
        }
    }

    .custom-tabs__content {
        .btn__big {
            margin: 20px auto;
            display: block;
            padding: 10px 20px;
        }
    }

    .custom-tabs__item {
        margin: 0 1px 1px 0;
        width: calc(100%/3 - 1px);
    }

    .profile {
        &__top {
            margin-bottom: 30px;
        }
        .container {
            padding: 0;
        }
        .blue-line {
            .container {
                padding: 12px 25px;
            }
        }
    }

    .colx2 {
        .col-item {
            width: 70%;
        }
    }
    .colx3 {
        .col-item {
            width: calc(100% / 3 - 5px);
        }
    }

    .form {
        padding: 20px;
        .colx2 .col-item {
            width: 48%;
        }
    }

    .preview__content {
        &__left {
            padding: 20px;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-menu-container {
        display: block;
    }
    .header {

        .logo {
            img {
                width: 200px;
            }
        }
        .container {
            padding: 0px 20px;
            height: 85px;
        }
        nav {
            display: none;
        }
        &__buttons {
            white-space: normal;
            text-align: right;
            display: flex;
            &__burger {
                display: block;
            }
            .btn__small {
                // display: inline-block;
                padding: 10px 25px;
                margin: 0px 15px 0 5px;
                font-size: 18px;
                width: auto;
            }
        }
    }

    .main-search-block {
        height: auto;
        .container {
            padding: 40px 20px;
        }
        &.search-page {
            .container {
                padding: 29px 20px 17px;
                .btn__small {
                    border-radius: 3px;
                }
                .main-search-block__input {
                    input {
                        font-size: 14px;
                    }
                    &__city {
                        // right: 20px;
                        padding-left: 45px;
                        padding-right: 12px;
                        font-size: 16px;
                        max-height: 53px;
                    }
                }
            }
        }
        &__title {
            font-size: 38px;
        }
        &__subtitle {
            width: 100%;
        }
        &__input {
            width: 100%;
        }
        &__buttons {
            width: 100%;
            display: block;
            .btn {
                // margin-top: 1    0px;
                margin: 25px auto 0;
                display: block;
                background: #f4387d;
                font-size: 16px;
                width: 300px;
            }
        }
    }

    .how-it-works {
        display: block;
        &__title {
            position: relative;
            display: block;
            margin: auto;
            text-align: center;
            width: auto;
            span {
                color: #000;
            }
        }
        &__left,
        &__right {
            &__text {
                &__1,
                &__2,
                &__3 {
                    font-size: 12px; // width: 130px;
                }
            }
        }
        &__left {
            width: 100%;
            height: 500px;
            &__bg {
                top: 120px;
                width: 96px;
                height: 320px;
            }
            &__text {
                &__1 {
                    right: 95px;
                    width: 170px;
                    top: 20px;
                }
                &__2 {
                    right: -170px;
                    width: 175px;
                    top: 145px;
                }
                &__3 {
                    top: 275px;
                    width: 170px;
                    right: 95px;
                }
            }
        }
        &__right {
            width: 100%;
            height: 480px;
            h3 {
                left: -10px;
            }
            &__bg {
                top: 80px;
                width: 96px;
                height: 320px;
            }
            &__text {
                &__1 {
                    width: 175px;
                    left: -175px;
                    top: 20px;
                }
                &__2 {
                    left: 90px;
                    width: 170px;
                    top: 145px;
                }
                &__3 {
                    top: 275px;
                    width: 175px;
                    left: -175px;
                }
            }
        }
        &__title {
            left: 0;
        }
    }

    .vacancies {
        .container {
            padding: 15px 20px;
        }
        .vacancies__items__item__descr {
            height: auto;
        }

        &__items {
            display: block;
            &__item {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .advantages {
        &__subtitle {
            font-size: 18px;
            width: 90%;
            font-weight: 100;
        }

        &__benefits__item {
            width: 50%; // font-size: 22px;
            font-size: 20px;
        }
        .btn {
            // margin-top: 1    0px;
            margin: 25px auto 0;
            display: block;
            background: #f4387d;
            font-size: 16px;
            width: 300px;
        }
    }
    .questionary {

        &__items {
            display: block;

            &__item {
                padding: 15px 0 15px 0;
                width: 100%;
                margin-bottom: 20px;
                &__info {
                    width: 80%;
                }
            }
        }
        .container {
            padding: 15px 20px;
        }
        &__logo {
            // width: 200px;
            display: block;
            margin: 20px auto;
        }
        &__last-section p {
            padding-left: 0;
        }
        &.vertical {}
    }

    .footer ul {
        display: none;
    }

    .profile {
        .blue-line {
            .container {
                .btn {
                    display: none;
                }
            }
        }
        .imgs-upload {
            margin: 0;
        }
        .new-table.order-details .new-table__body__col:nth-child(1) {
            font-size: 14px;
            white-space: normal;
        }
        .new-table.order-details .new-table__body__col:nth-child(2) {
            font-size: 14px;
            white-space: normal;
        }
        .orders-tab__list {
            width: 100%;
            &__item {
                &__title {
                    font-size: 16px;
                }
                &__value {
                    font-size: 14px;
                }
            }
        }
    }
    .search {
        &.container {
            padding: 0px 20px;
        }
    }
    .search__content {
        // display: block;
        flex-direction: column-reverse;
        margin-top: 0;
        &__left {
            // margin-top: 20px;
            padding: 0px;
            width: 100%;
        }
        &__right {
            width: 100%;
            // padding: 10px;
        }
        .grey-line {
            display: none;
        }
        .colx2 {
            .col-item {
                width: 48%;
            }
        }
    }
    .blue-line h1 {
        font-size: 26px;
    }
    .preview__vacancies,
    .preview__resumes {
        padding: 10px;
    }

    .preview__header {
        &__title {
            font-size: 38px;
        }
        &__buttons {
            display: none;
        }
        &.resume {
            .preview__header__info {
                height: 175px;

                &__image {
                    // border-width: 1px;
                    min-width: 175px;
                }
            }
        }
    }
    .preview__content {
        display: block;
        &__buttons {
            display: flex;
        }
        &__left {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
            &.resume {
                padding: 10px;
                .preview__content__buttons {
                    margin: 70px 0 20px;
                }
            }
        }
        &__right {
            margin-top: 20px;
            width: 100%;
            display: block;
            .btn {
                display: none;
            }
            &.resume {
                display: block;
                width: 100%;
                padding: 10px;
            }
        }
        &__contacts {
            margin-top: 0;
        }
        &__socials {
            margin-bottom: 20px;
        }
    }

    .preview__header.resume .preview__header__info__title {
        font-size: 20px;
        margin-top: 15px;
    }
    .preview__header__info__age {
        font-size: 14px;
    }

    .preview__header__info__date {
        font-size: 14px;
    }

    .preview__header.resume .preview__header__info__address {
        font-size: 16px;
        span {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header__buttons {
        justify-content: flex-end;
        .btn__small {
            display: none;
        }
    }

    .profile__top {
        display: block;
        padding: 0;
    }

    .imgs-upload {
        &__main {
            width: 100%;
        }
        &__small {
            width: 100%;
            justify-content: space-around;
            &__item {}
        }
    }

    .custom-tabs__item {
        margin: 0 1px 1px 0;
        width: calc(100%/2 - 1px);
    }

    .new-table {
        display: none;
        &.const {
            display: block;
        }
        &.mobile {
            display: block;
        }
    }

    .custom-tabs__content .btn__big {
        font-size: 18px;
    }

    .questionary__items.vertical .questionary__items__item__city {
        font-size: 16px;
    }

    .preview__header__title {
        font-size: 32px;
        margin-top: 20px;
    }
    .preview__header.resume .preview__header__info__title {
        margin-top: 17px;
        font-size: 20px;
    }
    .preview__header.resume .preview__header__info {
        bottom: -40px;
    }
    .preview__header.resume .preview__header__info__address {
        margin-bottom: 20px;
    }
    .preview__header {
        &__info {
            width: 95%;
            &__address {
                flex-wrap: wrap;
                white-space: normal;
                span {
                    margin-left: 0;
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
        &__girls {
            // display: none;
            bottom: -82px;
            top: auto;
            left: 0;
            display: flex;
            justify-content: center;
            width: 270px;
            &__item {
                width: 28px;
                height: 28px;
                border-radius: 100%;
                position: relative;
                box-shadow: 0 0 10px 0 #000;
                &:nth-child(1) {
                    transform: translate(-22px, -15px);
                    margin-right: 8px;
                }
                &:nth-child(2) {
                    margin-right: 0;
                    transform: translate(-21px, 0px);
                }
                &:nth-child(3) {
                    margin-right: 8px;
                    transform: translate(-5px, 5px);
                }
                &:nth-child(4) {
                    margin-right: 0;
                    transform: translate(0px, -10px);
                }
            }
        }
    }

    .dotted-border {
        .input__label__small {
            font-size: 14px;
        }
    }

    .input .btn__small {
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .logo img {
        width: 200px;
    }

    .header {
        .container {
            height: 55px;
        }
    }

    .main-search-block {
        &.search-page {
            .container {
                padding: 29px 10px 17px;
                .main-search-block__input {
                    &__city {
                        right: 20px;
                    }
                }
            }
        }
        &__title {
            font-size: 24px;
        }
        &__buttons {

            .btn {
                padding: 20px 20px;
                font-size: 18px;
                width: 100%;
            }
        }
        &__input {
            display: block;
            &__city {
                right: 2px;
            }
            input[type=text] {
                border-radius: 3px 3px 3px 3px;
            }

            .btn__small {

                border-radius: 3px 3px 3px 3px;
                display: block;
                margin: 15px auto;
                padding: 8px 30px;
                font-size: 20px; // width: 50%;
            }
        }
    }

    .how-it-works {
        &__left,
        &__right {
            &__text {
                &__1,
                &__2,
                &__3 {
                    // display: none;
                    font-size: 0;
                    width: 100px;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        &__left {
            height: 470px;
            &__text {
                &__1 {}
                &__2 {
                    right: -87px;
                }
            }
        }
        &__right {
            height: 430px;
            &__text {
                &__1,
                &__3 {
                    left: -94px;
                }
                &__2 {
                    right: -87px;
                }
            }
        }
    }

    .how-it-works__title {
        font-size: 36px;
        border-width: 4px;
    }

    .advantages {
        &__benefits__item {
            font-size: 16px;
        }
        .btn {
            padding: 20px 20px;
            font-size: 22px;
            width: 100%;
        }
    }

    .vacancies__items__item__descr {
        // display: none;
    }
    .vacancies__items__item__bottom {
        display: block;
        .vacancies__items__item__date {
            margin-top: 5px;
        }
    }
    .questionary {
        &__logo {
            width: 200px;
        }
        p {
            font-size: 14px;
        }
    }
    .questionary__items__item__info__descr {
        // display: none;
    }
    .questionary__items__item__info__top {
        display: block;
    }
    .questionary__items.vertical .questionary__items__item__city {
        margin: 10px 0;
        position: static;
    }


    .profile__notifications__settings form {
        padding: 0;
    }
    .colx2 {
        .col-item {
            width: 100%;
        }
    }
    .colx3 {
        .col-item {
            width: 80%;
        }
    }

    .search {
        &.container {
            padding: 0px 10px;
        }
    }

    .form {
        padding: 10px; // background: none;
        .colx2 .col-item {
            width: 100%;
        }
        &__inner {
            padding: 7px 20px 20px 15px;
            .colx2 {
                .col-item {
                    width: 48%;
                }
                .colx2 {
                    width: 100%;
                    .col-item {
                        width: 48%;
                    }
                }
            }
        }
        &__upload-img {
            height: 100px;
        }
        &__buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &+.form__submit-btn .btn__big {
            display: block;
            margin: 30px auto;
            font-size: 16px;
        }
    }
    .preview__header {
        padding: 10px;

        &.resume {
            .preview__header__info {
                // height: 140px;
                padding-left: 0; // bottom: -40px;
                &__title {}
                &__age {
                    // font-size: 12px;
                }
                &__address {
                    // font-size: 14px;
                    margin-top: 5px;
                    height: 68px;
                    margin-bottom: 10px;
                    white-space: initial;
                    overflow: hidden;
                }
                &__image {
                    // min-width: 140px;
                }
            }
        }
        &__girls {
            width: 205px;
        }
    }
    .preview__header__title {
        font-size: 30px;
    }
    .preview__header__info__title {
        font-size: 22px;
    }
    .preview__header__info__descr {
        font-size: 12px;
    }
    .preview__header__info__address {
        font-size: 14px;
        display: block;
        margin-bottom: 15px;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        .icon {
            display: none;
        }
    }
    .preview__header__info {
        height: 130px;
        bottom: -25px;
    }
    .preview__header__info__date {
        // font-size: 12px;
    }
    .preview__header__info__date {
        font-size: 13px;
    }

    .preview__header__info__image {
        min-width: 130px;
        margin-right: 10px;
    }

    .preview__content__title {
        font-size: 22px;
    }
    .preview__content__cost {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }

    .search__content {
        .colx2 {
            .col-item {
                width: 100%;
            }
        }
        &__right {
            &.hidden {
                display: none;
            }
        }
    }

    .dotted-border {
        .input__label__small {
            font-size: 16px;
        }
    }

    .search__content .filter-toggle-btn {
        display: block;
    }
}