.profile {
    &__top {
        display: flex;
        margin-bottom: 50px;
        padding: 0px 20px;
        h1 {

            span {
                font-weight: 300;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    width: 80%;
                    height: 3px;
                    bottom: -5px;
                    left: 0;
                    background: #f4387d;
                }
            }
        }
        p {
            margin-top: 10px;
        }
    }
    &__notifications {
        &__table {}
        &__settings {
            display: none;
        }
    }
}