.rate-page {
    .rate-bg {
        background: url(../img/rate-bg.png) no-repeat;
        background-size: cover;
    }

    .rates-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .rate-block {
        // height: 610px;
        width: 24.5%;
        margin-top: 43px;


        h2 {
            font-size: 20px;
            color: #f73c80;
        }
        p {
            font-weight: 300;
        }

        &__head {
            background: #e8e8e8;

            text-align: center;
            padding: 10px;
            font-size: 16px;
            &__cost {
                font-size: 20px;
                margin-top: 5px;
                margin-bottom: 10px;
                span {
                    font-size: 34px;
                }
            }
            .btn__big {
                padding: 13px 46px;
            }
        }
        &__body {
            padding: 5px 16px;
            background: #fff;
            &__item {
                position: relative;
                margin-bottom: 20px;
                b {}
                &.active:before {
                    background: #f73c80;
                }
                &.inactive:before {
                    background: #909090;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: -6px;
                    height: 15px;
                    width: 3px;
                }
            }
        }
    }

    .border-left {
        padding-bottom: 10px;
        &__active {
            font-size: 16px;
        }
        &__inactive {
            font-size: 16px;
            color: #909090;
        }
    }
}

@media screen and (max-width: 980px) {
    .rate-page .rates-wrapper {
        flex-wrap: wrap;
        .rate-block {
            width: 48%;
        }
    }
}

@media screen and (max-width: 480px) {
    .rate-page .rates-wrapper {
        .rate-block {
            width: 100%;
        }
    }
}