.search {
    margin-bottom: 20px;
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        flex-wrap: wrap;
        align-items: end;
        &__left {
            width: 60%;
            padding: 0px 20px 20px 20px;
        }
        &__right {
            background: #e8e8e8;
            width: 38%;
            padding: 10px 30px 10px 10px;
            border-radius: 5px;
        }
        &__filter {
            &__category {
                font-size: 13px;
                margin-top: 10px;
                .icon {
                    min-width: 15px;
                    height: 15px;
                }
            }
            .btn__small__blue {
                margin: auto;
                width: 150px;
                display: block;
                font-size: 16px;
                margin-top: 10px;
            }
            .input {
                margin: 0;
                label {
                    font-size: 11px;
                }
                input {
                    border: none;
                    padding: 8px 10px;
                }
            }
            .grey-line {
                height: 3px;
                margin-top: 13px;
                position: relative;
                // margin-bottom: 7px;
                width: 100%;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%; // left: 5px;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        .vacancies__items {
            margin-top: 0;
            &__item {
                padding: 15px 10px 20px 17px;
                &__title {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
                &__place {
                    font-size: 14px;
                }
                &__price {
                    margin-top: 0;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
        .colx2 {
            .col-item {
                width: 100%;
            }
        }
    }
}