.new-table {
    // table-layout: fixed;
    width: 100%;
    border-collapse: collapse; // min-width: 900px;
    overflow: auto;

    &__title {
        font-size: 16px;
        margin: 5px 0 15px;
        letter-spacing: -0.3px;
    }
    &__head {
        min-width: 1000px;
        &__row {
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 13px;
        }
        &__col {
            padding: 19px 10px 17px 50px;
            color: #000;
            font-size: 20px; // white-space: pre;
            position: relative;
            font-weight: 600;
            .icon {
                position: absolute;
                left: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    &__body {
        min-width: 1000px;
        &__row {
            border-bottom: 1px solid #dfe2e5;
            display: flex;
            background: #fff;
            justify-content: space-between;
            margin-bottom: 9px;
            &:first-child {
                margin-top: 22px;
            }
            &.grey {
                background: #d8d8d8;
            }
        }

        &__col {
            min-height: 45px;
            color: #354052;
            font-size: 16px;
            padding: 10px 26px;
            white-space: nowrap;
            vertical-align: initial;
            display: flex;
            flex-wrap: wrap;
                align-items: center;
            .icon {
                min-width: 16px;
            }
            a {
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    &.notifications {
        .new-table__head__col,
        .new-table__body__col {
            &:nth-child(1) {
                width: 40%;
            }
            &:nth-child(2) {
                width: 35%;
            }
            &:nth-child(3) {
                width: 25%;
            }
        }
    }
    &.favorites {
        .new-table__head__col,
        .new-table__body__col {
            white-space: normal;
            &:nth-child(1) {
                width: 35%;
                font-weight: 600;
                display: flex; // align-items: center;
                img {
                    margin-right: 15px;
                }
            }
            &:nth-child(2) {
                width: 40%;
            }
            &:nth-child(3) {
                width: 25%;
            }
        }
    }
    &.favorites-employer {
        .new-table__body__col {
            &:nth-child(1) {
                padding: 0;
                span {
                    margin-top: 10px;
                    display: inline-block;
                }
            }
        }
    }

    &.resume {
        .new-table__head__col,
        .new-table__body__col {
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2) {
                width: 10%;
            }
            &:nth-child(3) {
                width: 15%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(5) {
                min-width: 10%;
                text-align: center;
            }
            &:nth-child(6) {
                width: 15%;
            }
            &:nth-child(7) {
                width: 15%;
                line-height: 10px;
                min-width: 150px;
            }

            .btn__small__blue {
                font-size: 16px;
                padding: 7px 10px;
                margin-top: 10px;
            }
        }
    }

    &.orders {
        .new-table__head__col,
        .new-table__body__col {
            white-space: normal;
            &:nth-child(1) {
                width: 15%; // font-weight: 600;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 30%;
            }
            &:nth-child(5) {
                width: 20%;
                .btn__small__blue {
                    padding: 10px 25px;
                }
            }
        }
        .btn__small__blue {
            font-size: 18px;
            padding: 7px 10px;
        }
    }
    &.order-details {
        .new-table__head__col,
        .new-table__body__col {
            &:nth-child(1) {
                width: 35%;
            }
            &:nth-child(2) {
                width: 65%;
            }
        }
        .new-table__body__col {
            &:nth-child(1) {
                font-size: 32px;
                color: #f4387d;
                font-weight: 600;
            }
            &:nth-child(2) {
                font-size: 18px;
                font-weight: 600;
                color: #f4387d;
            }
        }
    }


    &.mobile {
        >div {
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
        }
        .limit-height {
            max-height: 40px;
        }
        .new-table__head {
            min-width: auto;
            width: 38%;
            &__row {
                display: block;
                height: 100%;
            }
            &__col {
                white-space: nowrap;
                min-height: 40px;
                padding: 10px 25px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%!important;
                text-align: left!important;
                .icon {
                    left: 8px;
                    width: 15px;
                    background-size: contain;
                }
            }
        }
        .new-table__body {
            min-width: auto;
            width: 60%;
            &__row {
                display: block;
                margin: 0;
                background: #d1d1d1;
            }
            &__col {
                text-align: left!important;
                min-height: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 10px 10px;
                width: 100%!important;
                br {
                    display: none;
                }
                .btn__small__blue {
                    margin: -4px auto;
                    padding: 7px 10px;
                }
            }
        }
        &.favorites-employer {
            .new-table__head__col,
            .new-table__body__col {
                align-items: center;
                display: flex;
                .icon {
                    height: 15px;
                }
                &:nth-child(1) {
                    img {
                        width: 75px;
                        height: 75px;
                    }
                    min-height: 75px;
                }
                &:nth-child(2) {
                    min-height: 100px;
                    overflow: initial;
                    white-space: normal;
                }
                &:nth-child(3) {
                    a {
                        width: 100%;
                    }
                    flex-wrap: wrap;
                }
            }
        }
    }
}


.waiting {
    color: #ddc541;
}

.inactive {
    color: #8e8e8e;
}

.posted,
.done {
    color: #08ad00;
}

.unread {
    color: #142faf;
}

.pink {
    color: #f4387d;
}