.custom-tabs {
    display: flex;
        flex-wrap: wrap;
    &__item {
        margin: 0px 20px;
        background: #f4387d;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &.active {
            background: #a5184b;
        }
    }

    &__content {
        padding: 20px;
        border-radius: 5px 5px 0 0;
        background: #ccc;
        min-height: 400px;
        &__item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}


.orders-tab {
    &__empty {
        background: #fff;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text,
        &__button {
            width: 50%;
            .btn__small__blue {
                padding: 10px 25px;
            }
        }
    }
    &__table {
        display: none;
    }
    &__details {
        display: none;
    }

    &__list {
        width: 350px;
        &__item {
            justify-content: space-between;
            display: flex;
            &__title {
                width: 50%;
                font-weight: 600;
            }
            &__value {
                width: 50%;
            }
        }
    }
}